.boxside {

  border : 1px solid #B6D7F2;

}

.boxbackground {

  background-color:  rgb(224, 234, 201);
  text-align: center;
  line-height: 20px;
  font-size: 1em;

}

.boxbackgroundselected {
    background-color:  rgb(209, 219, 187);
}

.toolpanel {
  opacity : 0.5;
  cursor : pointer;
  padding : 5px 2px 5px 2px;
}

.toolpanel:hover {
  opacity : 1;

}

.box-side {

  text-align:center;

}

.heading {
  font-size:75%;
  padding: 5px;
}
